* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #13171A;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
    font-family: "Poppins", sans-serif;
}

.cabecalho-imagem {
    width: 15%;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.escola-imagem {
    width: 20%;
    
}

.escola {
    background-image: linear-gradient(#13171A, #767778);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 0;
}

.escola-div-conteudo {
    width: 35%;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 140%;
    color: #FFF;
}

.escola-titulo {
    font-size: 42px;
    padding: 24px 0;
    text-align: center;
}

.estudante-imagem {
    width: 70%;
}

.estudante-icone {
    width: 30px;
}

.estudante-div {
    text-align: center;
    padding: 20px 20px;
}

.estudante {
    background-color: #fff;
}

.estudante-titulo {
    text-align: center;
    font-size: 32px;
}

.estudante-todos {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.rodape{
    background-color: #1D2124;
    text-align: center;
    height: 100px;
}
.rodape-imagem{
height: 50px;
padding: 13px 0;

}